
/*  General  */

/* Tipo De Letra  */
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

/* Header */

/* Esta es la config de la barra de nav */
#header {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 80px;
  width: 100%;
  z-index: 1000;
}



/* Config Titulo(Tomas Korzusehec)*/
#header .perfil h1 {
  /* Tamaño*/
  font-size: 30px;

  color: #fff;
  z-index: 1000;
  /* Grosor */
  font-weight: 400;
  /* Centrar */
  margin-left: 140px;
  margin-top: 20px;
  /* Fuente */
  font-family: "Poppins", sans-serif;
  z-index: 1000;
}


/*Personalización Titulo color*/
#header .perfil h1 i {
  color: #FFBC00;
}

#header .perfil h1 span {
  color: #008CFF
}

#header .perfil h1 a
{
  font-family: "bold italic", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  z-index: 1000;
  color: #FFBC00; 
  text-decoration: none;
}
/* Idem arriba(solo cuando el mouse esta arriba) */
#header .perfil h1:hover a, h1:hover i, h1:hover span {
  color: #b18c4e !important;
  text-decoration:none;
}

#main{
  margin-top: 80px;
}



/* Navegación Escritorio (Inicio, sobre mi, etc)*/


#header .perfil {
  margin: 0;
  padding: 0;
  display: flex;
}

/* Barra de navegación, cambio de color del link en cuanto a donde esta el usuario */
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #92b1f5;
}

#nav-page li{
  color: #fff;
  margin-top: 27px;
  display: inline-block;
  margin-right: 30px;
}



a{
  text-decoration: none;
}

/* margen exte iconos y enlaces */
i{
  margin-right: 5px;
}

/* Telefono icon */

.bi-telephone::before { content: "\f5c1"; }

/* Icono Estrella */
.bi-star::before { content: "\f586"; }

/* Icono de Herramienta */
.bi-tools::before { content: "\f5db"; }


/*--------------------------------------------------------------
# Sign y Log in
--------------------------------------------------------------*/

.sign-in {
  margin-left: 50px;
  margin-top: 12.5px ;
  border: 2px solid #FFBC00;
  color: #fff;
  border-radius: 50px;
  padding: 15px 20px;
  /* Texto en mayusculas */
  text-transform:uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.5s;
}

.sign-in:hover {
  background: #FFBC00;
  color: #000;
}

.log-in {
  margin-left: 10px;
  margin-top: 12.5px ;
  border: 2px solid #008CFF;
  color: #fff;
  border-radius: 50px;
  padding: 15px 20px;
  text-transform:uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.5s;
}

.log-in:hover {
  background: #008CFF;
  color: #000;
}

.seg{
  margin: 21rem 10rem 0 3rem;
  z-index: 10000;
  position: absolute;
}

.sign-in-2 {
  margin-left: 50px;
  margin-top: 12.5px ;
  background: #92b1f5;
  color: #000;
  border-radius: 10px;
  padding: 15px 20px;
  /* Texto en mayusculas */
  text-transform:uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.5s;
}

.sign-in-2:hover {
  background: 
  rgb(31, 82, 151);
  color: #fff;
}


/*--------------------------------------------------------------
# inicio Section
--------------------------------------------------------------*/

#inicio {
  /* Pone el ancho y alto al 100% */
  width: 100%;
  height: 100vh;
  /* Centra la imágen en modo celu */
  margin-top: -80px;
  background: url("../img/EduLink-Foto.png");
  /* La imagen cubrirá todo el contenedor */
  background-size: cover;
}

/*Tamaño h1 "TomasKorzusehec"*/
#inicio h1 {
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: 700;
  color: #fff !important;
  padding-top: 200px;
  padding-left: 100px;
  position: absolute;
}

#inicio strong{
  color: #92b1f5;
}

#inicio h2 {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  color: #fff;
  padding-top: 270px;
  padding-left: 100px;
  position: absolute;
}

/* Sombreado imagen*/
#inicio:before {
  content: "";
  /* Se pone rgba para que haya transparencia */
  background: rgba(0, 0, 0, 0.5);
  margin-top: -40px;
  /* Solo cubre la imagen */
  position: absolute;
  /*Altura y ancho*/
  width: 100%;
  height: 100vh;
}

/*Ubicación h1 "TomasKorzusehec"*/
#tomas .tomas-container {
  
  position: relative;
  min-width: 300px;
  margin-top: -250px;
  margin-left: 550px;
}



/* Tamaño h1 TomasKorzusehec cuando se entra a pantalla donde no esta el nav */
@media (max-width: 1199px) {
  #tomas h1{
    
      font-size: 28px;
      line-height: 36px;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

/* Separacion títulos */
section {
  padding: 40px 0;
  overflow: hidden;
}

/* Color fondo Section */
.section-bg {
  background: rgba(14, 57, 75, 0.3);
}

/* Separación Sections title */
.section-title {
  padding-bottom: 30px;
}

/* Config h2 titulos */
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #122f57;
}

/* Barrita h2 config */
.section-title h2::after {
  /* Frase en blanco para que aparezca sin texto */
  content: "";
  position: absolute;
  /* Tamaño */
  width: 75px;
  height: 4px;
  background: #122f57;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
  color: #0e2442;
}

/*
#
 Sobre mi
*
/

/* Subtitulo about */
.about .content h3 {
  /* Tamaño letra */
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

/* Listas */
.about .content ul {
  list-style: none;
  padding: 0;
}

/* Listas */
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* Separacion negrita */
.about .content ul strong {
  margin-right: 10px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


#footer {
  background: url("../img/FotoYo.jpeg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#footer .container {
  position: relative;
}

/*Personalización Titulo color*/
#footer h3 a{
  right: 100px;
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: 700;
  line-height: px;
  color: #fff;
  text-decoration:none;
}

#footer h3 a:hover{
  color: #122f57;
  text-decoration:none;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

/*bueno*/
#footer .social-links a {
  /* Tamaño iconos */
  font-size: 18px;
  /* Para que este uno seguido del otro y en línea */
  display:inline-block;
  /* color fondo */
  background: #333;
  /* Color icono */
  color: #fff;
  /* Altura Iconos */
  line-height: 0px;
  /* ajuste icon Altura y Ancho */
  padding: 8px 0px;
  /* Margen entre cada icono */
  margin-right: 10px;
  /*Circularidad borde*/
  border-radius: 20px;
  /*Tamaño borde Ancho y Altura*/
  width: 38px;
  height: 38px;
  /* Transición */
  transition: 0.5s;
}

#footer .social-links a:hover {
  background: #1f5297;
  color: #111;
}


/* extras */

.margintopbutton2{
  margin-top: 25px;
}

html {
  scroll-behavior: smooth;
}