/* Duracion del data-aos (no fundamental) */
[data-aos][data-aos][data-aos-duration="50"]
{transition-duration: 2500ms}

/* otra opcion */
[data-aos][data-aos][data-aos-delay="50"].aos-animate,body[data-aos-delay="50"] [data-aos].aos-animate{transition-delay:50ms}

/* ZOOM, FADE, SLIDE Y FLIP */
@media screen{
    /* FADE */
    /* importante para activar */
    html:not(.no-js) [data-aos^=fade][data-aos^=fade]
    {opacity:0;transition-property:opacity,-webkit-transform;transition-property:opacity,transform;transition-property:opacity,transform,-webkit-transform}
    
    /* Importante para activar */
    html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate{opacity:1;-webkit-transform:none;transform:none}
    
    /* fade-up */
    html:not(.no-js) [data-aos=fade-up]
    {-webkit-transform:translate3d(0,100px,0);transform:translate3d(0,100px,0)}
    
    /* fade down */
    html:not(.no-js) [data-aos=fade-down]
    {-webkit-transform:translate3d(0,-100px,0);transform:translate3d(0,-100px,0)}
    
    /* fade-right */
    html:not(.no-js) [data-aos=fade-right]
    {-webkit-transform:translate3d(-100px,0,0);transform:translate3d(-100px,0,0)}
    
    /* Fade left */
    html:not(.no-js) [data-aos=fade-left]
    {-webkit-transform:translate3d(100px,0,0);transform:translate3d(100px,0,0)}
    
    /* fade up right */
    html:not(.no-js) [data-aos=fade-up-right]{-webkit-transform:translate3d(-100px,100px,0);transform:translate3d(-100px,100px,0)}
    
    /* fade up left */
    html:not(.no-js) [data-aos=fade-up-left]{-webkit-transform:translate3d(100px,100px,0);transform:translate3d(100px,100px,0)}

    /* fade down right */
    html:not(.no-js) [data-aos=fade-down-right]{-webkit-transform:translate3d(-100px,-100px,0);transform:translate3d(-100px,-100px,0)}
    
    /* fade down left */
    html:not(.no-js) [data-aos=fade-down-left]{-webkit-transform:translate3d(100px,-100px,0);transform:translate3d(100px,-100px,0)}

    /* ZOOM */
/* zoom USE */
html:not(.no-js) [data-aos^=zoom]
{opacity:0;transition-property:opacity,-webkit-transform;transition-property:opacity,transform;transition-property:opacity,transform,-webkit-transform}

/* Activacion importante USE*/
html:not(.no-js) [data-aos^=zoom][data-aos^=zoom].aos-animate
{opacity:1;-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}

/* Zoom in USE*/
html:not(.no-js) [data-aos=zoom-in]
{-webkit-transform:scale(.6);transform:scale(.6)}


/* Slide */
/* importante para activar  */
html:not(.no-js) [data-aos^=slide][data-aos^=slide].aos-animate
{visibility:visible;-webkit-transform:translateZ(0);transform:translateZ(0)}

/* slide up */
html:not(.no-js) [data-aos=slide-up]
{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}

/* slide down */
html:not(.no-js) [data-aos=slide-down]
{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}

/* slide right */
html:not(.no-js) [data-aos=slide-right]
{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}

/* slide left */
html:not(.no-js) [data-aos=slide-left]
{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}


/* FLIP */

/* mejora el comienzo de la animacion */
html:not(.no-js) [data-aos^=flip][data-aos^=flip]
{-webkit-backface-visibility:hidden;backface-visibility:hidden;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform}

/* flip left */
html:not(.no-js) [data-aos=flip-left]
{-webkit-transform:perspective(2500px) rotateY(-100deg);transform:perspective(2500px) rotateY(-100deg)}
html:not(.no-js) [data-aos=flip-left].aos-animate
{-webkit-transform:perspective(2500px) rotateY(0);transform:perspective(2500px) rotateY(0)}

html:not(.no-js) [data-aos=flip-right]
{
    -webkit-transform:perspective(2500px) rotateY(100deg);
    /* Cambio principal en el transform perspective */
    transform:perspective(2500px) rotateY(100deg)
}
html:not(.no-js) [data-aos=flip-right].aos-animate
{-webkit-transform:perspective(2500px) rotateY(0);transform:perspective(2500px) rotateY(0)}

/* flip up */
html:not(.no-js) [data-aos=flip-up]
{-webkit-transform:perspective(2500px) rotateX(-100deg);transform:perspective(2500px) rotateX(-100deg)}
html:not(.no-js) [data-aos=flip-up].aos-animate
{-webkit-transform:perspective(2500px) rotateX(0);transform:perspective(2500px) rotateX(0)}

/* flip down */
html:not(.no-js) [data-aos=flip-down]
{-webkit-transform:perspective(2500px) rotateX(100deg);transform:perspective(2500px) rotateX(100deg)}
html:not(.no-js) [data-aos=flip-down].aos-animate{-webkit-transform:perspective(2500px) rotateX(0);transform:perspective(2500px) rotateX(0)}}