/* FADE --> edulink nav

FADE-right --> inicio

SLIDE-RIGHT --> textos (ocasional)

fade-up --> nosotros para abajo*/

/* Duracion del data-aos */
[data-aos][data-aos][data-aos-duration="50"]
{transition-duration: 1500ms}

@media screen{

    /* FADE */
    html:not(.no-js) [data-aos^=fade][data-aos^=fade]
    {opacity:0;transition-property:opacity,-webkit-transform;transition-property:opacity,transform;transition-property:opacity,transform,-webkit-transform}

    html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate{opacity:1;-webkit-transform:none;transform:none}
    
    /* fade-up */
    html:not(.no-js) [data-aos=fade-up]
    {-webkit-transform:translate3d(0,100px,0);transform:translate3d(0,100px,0)}

    /* fade-right */
    html:not(.no-js) [data-aos=fade-right]
    {-webkit-transform:translate3d(-100px,0,0);transform:translate3d(-100px,0,0)}

/* Slide */
html:not(.no-js) [data-aos^=slide][data-aos^=slide].aos-animate
{visibility:visible;-webkit-transform:translateZ(0);transform:translateZ(0)}

/* slide right */
html:not(.no-js) [data-aos=slide-right]
{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}


/* FLIP */
html:not(.no-js) [data-aos^=flip][data-aos^=flip]
{-webkit-backface-visibility:hidden;backface-visibility:hidden;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform}

/* flip left */
html:not(.no-js) [data-aos=flip-left]
{-webkit-transform:perspective(2500px) rotateY(-100deg);transform:perspective(2500px) rotateY(-100deg)}

html:not(.no-js) [data-aos=flip-left].aos-animate
{-webkit-transform:perspective(2500px) rotateY(0);transform:perspective(2500px) rotateY(0)}
}